{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SkillUp - Home{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if user.is_authenticated %}
    <header class="landing-header" style="gap:85%;">
        <h1>SkillUp</h1>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %} 
            <button type="submit" class="started">logout</button>
        </form>
    </header>
    {% block content %}
    <section class="welcome-section fade-in-up" style="animation-delay:0.2s;">
        <p class="landing-title">Welcome, {{ user.username }} </p>
        <div class="skill-adding">
        <a href="/addskill/"><button class="started">Add skill</button></a>
        </div>
    </section>
    <section class="skills-section fade-in-up" style="animation-delay:0.3s;">
    {% for skill in skills %}
        <div class="skill-card fade-in-up" style="animation-delay:0.3s;">
            <h3>{{ skill.name }}</h3>
            <a href="/{{ skill.name }}/"><button class="open-button" type="submit">Open</button></a>
        </div>
    {% endfor %}
    </section>
    {% endblock content %}
    {% else %}
    <header class="landing-header" style="gap:85%;">
        <h1>SkillUp</h1>
        <a href="/login/"><button class="started">login</button></a>
    </header>
    <section>
        <p class="landing-title" style="text-align: center;"> You are not logged in </p>
    </section>
    {% endif %}
</body>
</html>