{% extends 'home.html' %}
{% load static %}
{% block title %}SkillUp - SkillOverview{% endblock title %}
{% block content %}
<section class="skill-overview-card">
    <a href="/home/">← Back to Dashboard</a>
    <h2 class="skill-heading">{{skill.name}}</h2>
    {% if skill.description %}
    <p class="skill-description"><b>description:</b> {{ skill.description }}</p>
    {% endif %}
    <p class="mastery">{{completed_count}} completed</p>
    <progress value="{{completed_count}}" max="{{total_count}}"></progress>
    <div class="checkpoint-division">
        <div class="check-list">
            <h3>Checkpoints</h3>
            <form method="POST">
                {% csrf_token %}
                {{formset.management_form}}
                <ul class="checkpoints">
                    {% for form in formset %}
                    <li>
                        {{ form.id }} 
                        {{ form.completed }} {{ form.instance.name }}
                    </li>
                    {% endfor %}
                </ul>
                <button type="submit" class="started" name="action" value="update_checkpoints">update</button>
            </form>
        </div>
        <div class="add-checkpoint">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" value="add_checkpoint">Add</button>
            </form>
        </div>
    </div>
    
</section>
{% endblock content %}
